{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock  %}

{% block content %}
<div class="container">
    <div class="max-h-72">
        <img class="w-full h-60" src="{% static 'img/wall.jpg' %}" alt="صورة الغلاف">
        <div class="bg-white -translate-y-20  mx-auto w-40 h-40 border-4 border-white rounded-full overflow-hidden">
            <img src="{% static 'img/profile_img.jpg' %}" alt="" class="object-cover object-center h-40">
        </div>
    </div>
    <div>
        <h2 class="text-2xl">{{ request.user.first_name }} {{ request.user.last_name}}</h2>
    </div>


</div>
{% endblock %}