{% extends "base.html" %}
{% block title %}HOME{% endblock %}
{% block content %}
<center>
    <div class="container ">
        {% for p in posts %}
        <div class="border-2 relative rounded-xl my-3 bg-white mx-28 shadow-md shadow-blue-200">
            <div class="text-xl font-bold">
                {{ p.title }}
            </div>
            {% if p.media %}
            <div class="w-44">
                <img class="w-full h-full object-cover" src="{{ p.media.url }}">
            </div>
            {% endif %}
            <div class="text-lg">
                <p>{{ p.content }}</p><br />
            </div>
            <div class="absolute bottom-0 left-1">
                {{ p.created_date }}
            </div>
        </div>
        {% endfor %}
    </div>
</center>
{% endblock %}