* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Playwrite CU", cursive;
}
body{
    display: flex;
    /* flex-direction: column; */
    /* flex: 1 1 0; */

}
.body{
    padding: 1rem;
}
.nav{
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0;
    padding: 1rem;
    width: 20rem;
    color: white;
    min-height: 100vh;
    background-color: rgb(43, 43, 43);
    border-right: 3px solid rgb(92, 30, 30);
    transition: ease-out 0.5s;
}
a{
    text-decoration: none;
    color: white;
    display: block;
}
.side{
    margin: 0;
    padding: 1rem;
    width: 5rem;
    min-height: 100vh;
    background-color: rgb(43, 43, 43);
    color: white;
    border-right: 3px solid rgb(92, 30, 30);
    transition: ease-in-out 0.5s;
    
}
.btn-sidebar{
    color: rgb(37, 115, 231);
    float: right;
    /* transform: translateX(4px); */
    transform: translateY(20rem) translateX(31px);
    background-color: aquamarine;
    border-radius: 50%;
    border: 2px aquamarine solid;
}
.material-symbols-outlined{
    transition: ease-out 0.5s;
    margin: 0 0 15px 13px;
}
.btn-sidebar:hover{
    /* transform: translateX(20px); */
    cursor: pointer;
    border: 2px blue solid;
    transform: translateY(20rem) translateX(31px);
}
/* .btn-right:hover{
    transform: translateX(30px);
    cursor: pointer;
} */
.hidden{
    display: none !important;
    /* transform: rotate(-180deg); */
}
.visible{
    display: inline-block !important;
}